﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoFinalLab</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Lab4ProyectoFinal.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="container">
                <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-box-seam"></i> ProyectoFinalLab
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Ingresar
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Clientes" asp-action="Create">Cliente</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Citas" asp-action="Create">Turno</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Veterinario" asp-action="Create">Profesional</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Mascotas" asp-action="Create">Mascota</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Usuarios" asp-action="Create">Usuarios</a></li>

                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Registros
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Citas" asp-action="Index">Turnos</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Veterinario" asp-action="Index">Profesionales</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Mascotas" asp-action="Index">Mascotas</a></li>
                            </ul>

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container my-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ProyectoFinalLab</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">

</body>
</html>

<style>
    .navbar {
        background-color: antiquewhite;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
    }

        .navbar .navbar-brand, .navbar-custom .nav-link {
            color: darkred !important;
            font-weight: 500;
            opacity: 0.6;
        }

            .navbar-custom .nav-link:hover {
                color: darkred !important;
                opacity: 2;
            }
</style>
