@model ProyectoFinalLab.Models.Veterinario

@{
    ViewData["Title"] = "Eliminar Veterinario";
}

<h1>Eliminar Veterinario</h1>

<div class="container mt-4">
    <h3>¿Está seguro de que desea eliminar a este profesional de la lista?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Especialidad)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Especialidad)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Volver a lista</a>
        </form>
    </div>
</div>
