@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi sistema de gestión de datos</h1>
    <h3 style="margin-top: 3rem">Clínica veterinaria</h3>

    <img src="~/Fotos/Clínicaveterinaria.png" alt="Mi imagen" style="margin-top: 3rem; width: 40rem" />


</div>

