@model ProyectoFinalLab.Models.Cita

@{
    ViewData["Title"] = "Edit";
}

<h1>Cambiar datos</h1>

<h4>Cita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5>Edit Cita</h5>
            </div>
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Fecha" class="control-label"></label>
                        <input asp-for="Fecha" class="form-control" />
                        <span asp-validation-for="Fecha" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Hora" class="control-label"></label>
                        <input asp-for="Hora" class="form-control" />
                        <span asp-validation-for="Hora" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Motivo" class="control-label"></label>
                        <input asp-for="Motivo" class="form-control" />
                        <span asp-validation-for="Motivo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Estado" class="control-label"></label>
                        <input asp-for="Estado" class="form-control" />
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>
                    <!--<div class="form-group">
                        <label asp-for="Veterinario" class="control-label"></label>
                        <input asp-for="Veterinario" class="form-control" />
                        <span asp-validation-for="Veterinario" class="text-danger"></span>
                    </div>-->
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
